<h1> Hola a todos </h1>
<h3> Hola a todos </h3>
<h6> Hola a todos </h6>

<p> Otros elementos asociados al proceso metodológico, recaen en la BADIR, siendo que este transitar por los proyectos de ciencia de datos brindan una perspectiva diferente sobre como abordar los procesos a realizar dentro de los proyectos de análisis de datos. </p>

<img src="1.jpg">

<ul>
  <li>Café</li>
  <li>Té</li>
  <li>Leche</li>
</ul>

<img src = "2.png">

<h1 Style = "color: #acba9d; text-align: center"> Ejemplo de todo unido </h1>

<p> Este es el primer ejemplo sobre  la ultilización de HTML en los proyectos de análisis de datos para poder dar formato a los documentos que se creen en los ámbitos laborales 

Estos documentos se consideran entre otras cosas lo siguiente: </p>

<ol>
  <li>Carga de datos</li>
  <li>Limpieza de datos</li>
  <li>Graficado</li>
</ol>

<p Style = "text-align: right"> 16/06/2023 </p>

<h2 Style = "color: #8FBC8F"> Carga y estandarización de los sets de datos </h2>

<ol>
    <li> Importar las librerias necesarias. </li>
    <li> Importar los sets de datos.</li>
    <li> Revisión de encabezados </li>
    <li> Fast EDA - Revisión estadisticas generales del set de datos </li>
    <li> Unir los sets de datos </li>
<ol>

<h3 Style = "color: #8FBC8F"> 1.1 Importación de líbrerias: </h3>

In [1]:
import pandas as pd #Se usa para el manejo de dataFrame.
import numpy as np #Se usa para el manejo de estructuras de datos.
import matplotlib.pyplot as plt #Se usa para crear gráficos.

<h3 Style = "color: #8FBC8F"> 1.2 Importación de set de datos: </h3>

In [2]:
import pandas as pd

cols = ["symboling", "normalized", "make", "fuel", "aspiration", "doors", 
       "style", "wheels", "engine", "base", "length", "width", "heingt",
       "curb", "engineType", "Cylinders", "engine-size", "system", "bore", "stroke",
       "compression", "horsepower", "peak", "City", "Higway", "price"]

df_1er_autos = pd.read_csv ("autos.csv", names = cols)
df_2do_autos = pd.read_csv ("autos1.csv", names = cols)

In [3]:
df_1er_autos.shape

(197, 26)

In [4]:
df_2do_autos.shape

(29, 26)

In [5]:
df_1er_autos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [6]:
df_1er_autos.tail(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [7]:
df_1er_autos.describe()

,symboling,base,length,width,heingt,curb,engine-size,compression,City,Higway
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,0.913706,98.409645,173.450254,65.812690,53.628934,2534.796954,126.263959,10.128020,25.416244,30.984772
std,1.202746,5.866965,12.213912,2.128306,2.438891,520.401159,42.282594,3.934467,6.566717,6.908644
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.000000,52.000000,2140.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,96.500000,172.600000,65.400000,53.900000,2405.000000,110.000000,9.000000,25.000000,30.000000
75%,2.000000,100.400000,178.500000,66.500000,55.500000,2844.000000,141.000000,9.400000,30.000000,36.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [8]:
df_1er_autos.head(4)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950

In [9]:
df_2do_autos.describe()

,symboling,base,length,width,heingt,curb,engine-size,bore,stroke,compression,horsepower,peak,City,Higway,price
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,0.827586,100.103448,177.186207,66.134483,54.406897,2580.000000,128.000000,3.330690,3.402069,11.475862,102.413793,4970.689655,25.896552,31.448276,11692.793103
std,1.691765,3.082726,7.178327,0.917012,1.666676,310.887325,23.653752,0.240088,0.108278,5.318610,29.382353,448.910833,5.045117,5.803855,2906.059106
min,-2.000000,94.500000,159.300000,64.000000,51.400000,2209.000000,97.000000,3.010000,3.150000,8.500000,52.000000,4200.000000,19.000000,24.000000,7775.000000
25%,-1.000000,97.300000,171.700000,65.500000,53.000000,2300.000000,109.000000,3.190000,3.350000,9.000000,85.000000,4800.000000,24.000000,28.000000,9639.000000
50%,2.000000,100.400000,176.200000,66.500000,54.900000,2536.000000,122.000000,3.270000,3.400000,9.300000,92.000000,5200.000000,24.000000,30.000000,11199.000000
75%,2.000000,102.400000,183.100000,66.900000,55.700000,2912.000000,146.000000,3.620000,3.500000,9.500000,116.000000,5400.000000,27.000000,34.000000,13415.000000
max,3.000000,104.500000,188.800000,67.700000,57.500000,3151.000000,171.000000,3.780000,3.540000,23.000000,161.000000,5500.000000,37.000000,46.000000,17669.000000

<h3 Style = "color: #8FBC8F"> 1.3 Revisión de encabezados: </h3>

<ul>
    <li>Nombre de columnas no deben contener espacios en blanco.</li>
    <li>Nombres de columnas no deben comenzar con números.</li>
    <li>No deben existir nombres repetidos.</li>
    <li>Recomendación, la primer palabra deber ser en minuscula.</li>
</ul>

In [10]:
df_1er_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [11]:
df_2do_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [12]:
df_1er_autos.rename({"engine-size":"engineSize"}, axis = 1, inplace = True)
df_1er_autos.rename({"Cylinders":"cylinders"}, axis = 1, inplace = True)
df_1er_autos.rename({"City":"city"}, axis = 1, inplace = True)
df_1er_autos.rename({"Higway":"higway"}, axis = 1, inplace = True)
df_1er_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

In [13]:
df_2do_autos.rename({"engine-size":"engineSize"}, axis = 1, inplace = True)
df_2do_autos.rename({"Cylinders":"cylinders"}, axis = 1, inplace = True)
df_2do_autos.rename({"City":"city"}, axis = 1, inplace = True)
df_2do_autos.rename({"Higway":"higway"}, axis = 1, inplace = True)
df_2do_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

<h3 Style = "color: #8FBC8F"> 1.4 Unir los set de datos: </h3>

In [14]:
tplDataFrame = [df_1er_autos, df_2do_autos]
dfAutos = pd.concat (tplDataFrame)
dfAutos.shape

(226, 26)

In [15]:
dfAutos.head (5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [16]:
df_1er_autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    197 non-null    int64
 1   normalized   197 non-null    object
 2   make         197 non-null    object
 3   fuel         197 non-null    object
 4   aspiration   197 non-null    object
 5   doors        197 non-null    object
 6   style        197 non-null    object
 7   wheels       197 non-null    object
 8   engine       197 non-null    object
 9   base         197 non-null    float64
 10  length       197 non-null    float64
 11  width        197 non-null    float64
 12  heingt       197 non-null    float64
 13  curb         197 non-null    int64
 14  engineType   197 non-null    object
 15  cylinders    197 non-null    object
 16  engineSize   197 non-null    int64
 17  system       197 non-null    object
 18  bore         197 non-null    object
 19  stroke       197 non-null    object
 20  compression  197 non-null    float64
 21  horsepower   197 non-null    object
 22  peak         197 non-null    object
 23  city         197 non-null    int64
 24  higway       197 non-null    int64
 25  price        197 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 40.1+ KB

<p Style = "text-align: right"> 30/06/2023 </p>

<h2 Style = "color: #8FBC8F"> 2. Manejo de valores faltantes </h2>

<ol>
    <li> Identificar como se visualizan los valores faltantes en DF. </li>
    <li> Contar la cantidad de valores faltantes por variable (columnas). </li>
    <li> Imputación simple de valores númericos. </li>
    <li> Imputación simple de valores categoricos. </li>
    <li> Eliminar observaciones del DF. </li>
<ol>
    
<h3 Style = "color: #8FBC8F"> 2.1 Identificar como se visualizan los valores faltantes en DF: </h3>

In [17]:
dfAutos.head (5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [18]:
dfAutos.tail(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
24,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.4,23.0,68,4500,33,38,13845
25,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.4,9.0,88,5500,25,31,12290
26,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
27,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
28,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [19]:
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226 entries, 0 to 28
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    226 non-null    int64
 1   normalized   226 non-null    object
 2   make         226 non-null    object
 3   fuel         226 non-null    object
 4   aspiration   226 non-null    object
 5   doors        226 non-null    object
 6   style        226 non-null    object
 7   wheels       226 non-null    object
 8   engine       226 non-null    object
 9   base         226 non-null    float64
 10  length       226 non-null    float64
 11  width        226 non-null    float64
 12  heingt       226 non-null    float64
 13  curb         226 non-null    int64
 14  engineType   226 non-null    object
 15  cylinders    226 non-null    object
 16  engineSize   226 non-null    int64
 17  system       226 non-null    object
 18  bore         226 non-null    object
 19  stroke       226 non-null    object
 20  compression  226 non-null    float64
 21  horsepower   226 non-null    object
 22  peak         226 non-null    object
 23  city         226 non-null    int64
 24  higway       226 non-null    int64
 25  price        226 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 47.7+ KB

In [20]:
dfAutos.replace ("?", np.nan, inplace=True)
dfAutos.head (5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h3 Style = "color: #8FBC8F"> 2.2 Contar la cantidad de valores faltantes por variable (columnas): </h3>

In [21]:
dfTemp = dfAutos.isnull()
dfTemp.head (5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
for columna in dfTemp.columns.values.tolist ():
    print (columna)
    print (dfTemp[columna].value_counts())
    print ("")

symboling
False    226
Name: symboling, dtype: int64

normalized
False    180
True      46
Name: normalized, dtype: int64

make
False    226
Name: make, dtype: int64

fuel
False    226
Name: fuel, dtype: int64

aspiration
False    226
Name: aspiration, dtype: int64

doors
False    224
True       2
Name: doors, dtype: int64

style
False    226
Name: style, dtype: int64

wheels
False    226
Name: wheels, dtype: int64

engine
False    226
Name: engine, dtype: int64

base
False    226
Name: base, dtype: int64

length
False    226
Name: length, dtype: int64

width
False    226
Name: width, dtype: int64

heingt
False    226
Name: heingt, dtype: int64

curb
False    226
Name: curb, dtype: int64

engineType
False    226
Name: engineType, dtype: int64

cylinders
False    226
Name: cylinders, dtype: int64

engineSize
False    226
Name: engineSize, dtype: int64

system
False    226
Name: system, dtype: int64

bore
False    222
True       4
Name: bore, dtype: int64

stroke
False    222
True       4
Name: stroke, dtype: int64

compression
False    226
Name: compression, dtype: int64

horsepower
False    224
True       2
Name: horsepower, dtype: int64

peak
False    224
True       2
Name: peak, dtype: int64

city
False    226
Name: city, dtype: int64

higway
False    226
Name: higway, dtype: int64

price
False    222
True       4
Name: price, dtype: int64

<h3 Style = "color: #8FBC8F"> 2.3 Imputación simple de valores númericos: </h3>

In [28]:
promNormalizadas = dfAutos ["normalized"].astype ("float").mean (axis = 0)
promNormalizadas

122.22566371681415

In [29]:
dfAutos ["normalized"].replace (np.nan, 122, inplace = True)
dfAutos.head (5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [ ]:
prom = dfAutos ["bore"].astype ("float").mean (axis = 0)
dfAutos ["bore"].replace (np.nan, prom, inplace = True)
prom = dfAutos ["stroke"].astype ("float").mean (axis = 0)
dfAutos ["stroke"].replace (np.nan, prom, inplace = True)
prom = dfAutos ["horsepower"].astype ("float").mean (axis = 0)
dfAutos ["hoursepower"].replace (np.nan, prom, inplace = True)
prom = dfAutos ["peak"].astype ("float").mean (axis = 0)
dfAutos ["peak"].replace (np.nan, prom, inplace = True)

<h3 Style = "color: #8FBC8F"> 2.4 Imputación simple de valores categoricos: </h3>

In [25]:
dfAutos ["doors"].value_counts ().idxmax ()

'four'

In [ ]:
dfAutos ["doors"].replace (np.nan, "four", inplace = True)

<h3 Style = "color: #8FBC8F"> 2.5 Eliminar filas con valores faltantes: </h3>

In [31]:
dfAutos.dropna (subset = ["price"], axis = 0, inplace = True)
dfAutos.reset_index (drop = True, inplace = True)

In [32]:
dfTemp = dfAutos.isnull()
for columna in dfTemp.columns.values.tolist ():
    print (columna)
    print (dfTemp[columna].value_counts())
    print ("")

symboling
False    222
Name: symboling, dtype: int64

normalized
False    222
Name: normalized, dtype: int64

make
False    222
Name: make, dtype: int64

fuel
False    222
Name: fuel, dtype: int64

aspiration
False    222
Name: aspiration, dtype: int64

doors
False    220
True       2
Name: doors, dtype: int64

style
False    222
Name: style, dtype: int64

wheels
False    222
Name: wheels, dtype: int64

engine
False    222
Name: engine, dtype: int64

base
False    222
Name: base, dtype: int64

length
False    222
Name: length, dtype: int64

width
False    222
Name: width, dtype: int64

heingt
False    222
Name: heingt, dtype: int64

curb
False    222
Name: curb, dtype: int64

engineType
False    222
Name: engineType, dtype: int64

cylinders
False    222
Name: cylinders, dtype: int64

engineSize
False    222
Name: engineSize, dtype: int64

system
False    222
Name: system, dtype: int64

bore
False    222
Name: bore, dtype: int64

stroke
False    222
Name: stroke, dtype: int64

compression
False    222
Name: compression, dtype: int64

horsepower
False    220
True       2
Name: horsepower, dtype: int64

peak
False    220
True       2
Name: peak, dtype: int64

city
False    222
Name: city, dtype: int64

higway
False    222
Name: higway, dtype: int64

price
False    222
Name: price, dtype: int64

In [ ]:
gf = dfAutos.groupby(['horsepower']).count()
gf = gf.iloc[:,:1]
gf = gf.sort_values('symboling', ascending=False)
gf

In [ ]:
fig, ax = plt.subplots(1,1, figsize =(15,6.9), dpi=100)

 

eje_x = gf.index.tolist()
data = gf["symboling"].tolist()

 

bar_colors = ['#69d2e7']

 

ax.bar(eje_x, data, color=bar_colors)

 

#--------------------------------------------------------------------------------------------#
#-----------------CONFIGURACION DE LOS TITULOS, SUBTITULOS Y EFES DEL GRAFICO----------------#
#--------------------------------------------------------------------------------------------#
#FORMATO DEL TITULO

 

title = "Grafico 2: Vehiculos en Inventario"
plt.suptitle(title,
             horizontalalignment = 'left',
             x = 0.001,
             y = 0.87,
             transform = fig.transFigure,
             fontsize = 20,
             fontweight = "bold",
             fontfamily = "serif",
             fontname = "Liberation Sans Narrow")

 

#FORMATO DEL SUBTITULO
subTitle = "Cantidad de vehiculos agrupados segun caballos de fuerza, en Costa Rica, periodo 2023"
ax.set_title(subTitle,
             horizontalalignment = "left",
             x = 0.001,
             y = 0.80,
             transform = fig.transFigure,
             fontsize = 15,
             fontweight = "regular",
             fontfamily = "serif")

 

 

#FORMATO AL EJE (X/Y)
etiqueta = "cantidad de caballos de fuerza (ABS)"
ax.set_xlabel(etiqueta,
              ha = 'left',
              fontsize = 10,
              fontweight = "regular",
              fontfamily = "serif")

 

etiquetay = "cantidad de carros"
ax.set_ylabel(etiquetay,
              ha = 'left',
              fontsize = 10,
              fontweight = "regular",
              fontfamily = "serif")

 

ax.xaxis.set_label_coords(x=0, y=-0.07, transform = ax.transAxes)
ax.yaxis.set_label_coords(x=-0.04, y=0.65, transform = ax.transAxes)

 

#FORMATO TAMANO LETRA AMBOS EJES
ax.tick_params(axis='both', labelsize = 10)

 

#CONFIGURA LA UBICACION EL TITULO, SUBTITULO Y GRAFICO
plt.subplots_adjust(top = 0.80)

 

plt.show()

In [ ]:
gf = dfAutos.groupby(['Horsepower (Bins)']).count()
gf = gf.iloc[:,:1]
gf = gf.sort_values('symboling', ascending=False)
gf

In [ ]:
[4/8 18:46] JOSUE ZUNIGA HERNANDEZ

fig, ax = plt.subplots(1,1, figsize =(15,6.9), dpi=100)

 

eje_x = gf.index.tolist()

data = gf["symboling"].tolist()

 

bar_colors = ['#8dccad', '#fea6a2', '#ffe9af']

 

ax.bar(eje_x, data, color=bar_colors)

 

#--------------------------------------------------------------------------------------------#

#-----------------CONFIGURACION DE LOS TITULOS, SUBTITULOS Y EFES DEL GRAFICO----------------#

#--------------------------------------------------------------------------------------------#

#FORMATO DEL TITULO

 

title = "Grafico 3: Vehiculos en Inventario"

plt.suptitle(title,

             horizontalalignment = 'left',

             x = 0.001,

             y = 0.87,

             transform = fig.transFigure,

             fontsize = 20,

             fontweight = "bold",

             fontfamily = "serif",

             fontname = "Liberation Sans Narrow")

 

#FORMATO DEL SUBTITULO

subTitle = "Cantidad de vehiculos agrupados segun caballos de fuerza, en Costa Rica, periodo 2023"

ax.set_title(subTitle,

             horizontalalignment = "left",

             x = 0.001,

             y = 0.80,

             transform = fig.transFigure,

             fontsize = 15,

             fontweight = "regular",

             fontfamily = "serif")

 

 

#FORMATO AL EJE (X/Y)

etiqueta = "Categorias segun caballos de fuerza"

ax.set_xlabel(etiqueta,

              ha = 'left',

              fontsize = 10,

              fontweight = "regular",

              fontfamily = "serif")

 

etiquetay = "cantidad de carros"

ax.set_ylabel(etiquetay,

              ha = 'left',

              fontsize = 10,

              fontweight = "regular",

              fontfamily = "serif")

 

ax.xaxis.set_label_coords(x=0, y=-0.07, transform = ax.transAxes)

ax.yaxis.set_label_coords(x=-0.04, y=0.65, transform = ax.transAxes)

 

#FORMATO TAMANO LETRA AMBOS EJES

ax.tick_params(axis='both', labelsize = 10)

 

#CONFIGURA LA UBICACION EL TITULO, SUBTITULO Y GRAFICO

plt.subplots_adjust(top = 0.80)

 

plt.show()

[4/8 18:47] JOSUE ZUNIGA HERNANDEZ

 

 

[4/8 18:47] JOSUE ZUNIGA HERNANDEZ

fig, ax = plt.subplots(1,1, figsize =(10,6.9), dpi=80)

 

eje_x = gf.index.tolist()

data = gf["symboling"].tolist()

 

bar_colors = ['#8dccad', '#fea6a2', '#ffe9af']

 

ax.pie(data, labels=eje_x, colors = bar_colors, autopct='%1.1f%%')

 

#--------------------------------------------------------------------------------------------#

#-----------------CONFIGURACION DE LOS TITULOS, SUBTITULOS Y EFES DEL GRAFICO----------------#

#--------------------------------------------------------------------------------------------#

#FORMATO DEL TITULO

 

title = "Grafico 4: Vehiculos en Inventario"

plt.suptitle(title,

             horizontalalignment = 'left',

             x = 0.001,

             y = 0.87,

             transform = fig.transFigure,

             fontsize = 20,

             fontweight = "bold",

             fontfamily = "serif",

             fontname = "Liberation Sans Narrow")

 

#FORMATO DEL SUBTITULO

subTitle = "Cantidad de vehiculos agrupados segun caballos de fuerza, en Costa Rica, periodo 2023"

ax.set_title(subTitle,

             horizontalalignment = "left",

             x = 0.001,

             y = 0.80,

             transform = fig.transFigure,

             fontsize = 15,

             fontweight = "regular",

             fontfamily = "serif")

 

#CONFIGURA LA UBICACION EL TITULO, SUBTITULO Y GRAFICO

plt.subplots_adjust(top = 0.80)

 

plt.show()

In [ ]:
gf = dfAutos.groupby(['style']).count()
gf = gf.iloc[:,:1]
gf = gf.sort_values('symboling', ascending=False)
gf

In [ ]:
fig, ax = plt.subplots(1,1, figsize =(10,6.9), dpi=80)

 

eje_x = gf.index.tolist()
data = gf["symboling"].tolist()

 

bar_colors = ['#8dccad', '#fea6a2', '#ffe9af', '#988864', '#f9d6ac']

 

circulo = plt.Circle((0,0), 0.7, color='white')
ax.pie(data, labels=eje_x, colors = bar_colors, autopct='%1.1f%%')

 

#--------------------------------------------------------------------------------------------#
#-----------------CONFIGURACION DE LOS TITULOS, SUBTITULOS Y EFES DEL GRAFICO----------------#
#--------------------------------------------------------------------------------------------#
#FORMATO DEL TITULO

 

title = "Grafico 5: Vehiculos en Inventario"
plt.suptitle(title,
             horizontalalignment = 'left',
             x = 0.001,
             y = 0.87,
             transform = fig.transFigure,
             fontsize = 20,
             fontweight = "bold",
             fontfamily = "serif",
             fontname = "Liberation Sans Narrow")

 

#FORMATO DEL SUBTITULO
subTitle = "Cantidad de vehiculos agrupados segun fabricante, en Costa Rica, periodo 2023"
ax.set_title(subTitle,
             horizontalalignment = "left",
             x = 0.001,
             y = 0.80,
             transform = fig.transFigure,
             fontsize = 15,
             fontweight = "regular",
             fontfamily = "serif")

 

#COLOCAR EL CIRCULO QUE SE DIBUJO EN EL GRAFICO
p =plt.gcf()
p.gca().add_artist(circulo)

 

#CONFIGURA LA UBICACION EL TITULO, SUBTITULO Y GRAFICO
plt.subplots_adjust(top = 0.80)

 

plt.show()

In [ ]:
fig, ax = plt.subplots(1,1, figsize =(11,6.9), dpi=100)

 

eje_x = gf.index.tolist()
data = gf["symboling"].tolist()

 

n = 222
x = dfAutos['engineSize']
y = dfAutos['City L/100km (calc)']
ax.scatter(x, y, c='#8dccad', alpha=0.3)

 

ax.grid(True)

 

 

#--------------------------------------------------------------------------------------------#
#-----------------CONFIGURACION DE LOS TITULOS, SUBTITULOS Y EFES DEL GRAFICO----------------#
#--------------------------------------------------------------------------------------------#
#FORMATO DEL TITULO

 

title = "Grafico 6: Vehiculos en Inventario"
plt.suptitle(title,
             horizontalalignment = 'left',
             x = 0.001,
             y = 0.87,
             transform = fig.transFigure,
             fontsize = 20,
             fontweight = "bold",
             fontfamily = "serif",
             fontname = "Liberation Sans Narrow")

 

#FORMATO DEL SUBTITULO
subTitle = "Relacion entre el tamano del motor y el consumo de gasolina"
ax.set_title(subTitle,
             horizontalalignment = "left",
             x = 0.001,
             y = 0.80,
             transform = fig.transFigure,
             fontsize = 15,
             fontweight = "regular",
             fontfamily = "serif")

 

 

#FORMATO AL EJE (X/Y)
etiqueta = "Tamano del motor"
ax.set_xlabel(etiqueta,
              ha = 'left',
              fontsize = 10,
              fontweight = "regular",
              fontfamily = "serif")

 

etiquetay = "Consumo de gasolina en L/100km"
ax.set_ylabel(etiquetay,
              ha = 'left',
              fontsize = 10,
              fontweight = "regular",
              fontfamily = "serif")

 

ax.xaxis.set_label_coords(x=0, y=-0.07, transform = ax.transAxes)
ax.yaxis.set_label_coords(x=-0.04, y=0.45, transform = ax.transAxes)

 

#FORMATO TAMANO LETRA AMBOS EJES
ax.tick_params(axis='both', labelsize = 10)

 

#CONFIGURA LA UBICACION EL TITULO, SUBTITULO Y GRAFICO
plt.subplots_adjust(top = 0.75)

 

plt.show()

In [ ]:
fig, ax = plt.subplots(1,1, figsize =(11,6.9), dpi=100)

 

eje_x = gf.index.tolist()
data = gf["symboling"].tolist()

 

n = 222
x = dfAutos['engineSize']
y = dfAutos['Higway L/100km (calc)']
ax.scatter(x, y, c='#fea6a2', alpha=0.3)

 

ax.grid(True)

 

 

#--------------------------------------------------------------------------------------------#
#-----------------CONFIGURACION DE LOS TITULOS, SUBTITULOS Y EFES DEL GRAFICO----------------#
#--------------------------------------------------------------------------------------------#
#FORMATO DEL TITULO

 

title = "Grafico 6: Vehiculos en Inventario"
plt.suptitle(title,
             horizontalalignment = 'left',
             x = 0.001,
             y = 0.87,
             transform = fig.transFigure,
             fontsize = 20,
             fontweight = "bold",
             fontfamily = "serif",
             fontname = "Liberation Sans Narrow")

 

#FORMATO DEL SUBTITULO
subTitle = "Relacion entre el tamano del motor y el consumo de gasolina"
ax.set_title(subTitle,
             horizontalalignment = "left",
             x = 0.001,
             y = 0.80,
             transform = fig.transFigure,
             fontsize = 15,
             fontweight = "regular",
             fontfamily = "serif")

 

 

#FORMATO AL EJE (X/Y)
etiqueta = "Tamano del motor"
ax.set_xlabel(etiqueta,
              ha = 'left',
              fontsize = 10,
              fontweight = "regular",
              fontfamily = "serif")

 

etiquetay = "Consumo de gasolina en L/100km"
ax.set_ylabel(etiquetay,
              ha = 'left',
              fontsize = 10,
              fontweight = "regular",
              fontfamily = "serif")

 

ax.xaxis.set_label_coords(x=0, y=-0.07, transform = ax.transAxes)
ax.yaxis.set_label_coords(x=-0.04, y=0.45, transform = ax.transAxes)

 

#FORMATO TAMANO LETRA AMBOS EJES
ax.tick_params(axis='both', labelsize = 10)

 

#CONFIGURA LA UBICACION EL TITULO, SUBTITULO Y GRAFICO
plt.subplots_adjust(top = 0.75)

 

plt.show()